    body {
        background-color: blueviolet;
        margin: 15px;
        color: cadeblue;
    }

    h2 {
        color: black;
    }

    #todo-input {
        font-family: "Roboto", sans-serif;
        font-size: 28px;
        padding: 5px 0px 5px 5px;
        border: 10px solid orange;
    }